@model Borrow
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<partial name="_BrwCard" model="Model"></partial>

<br />

<a asp-controller="Borrowing" asp-action="Index" class="btn btn-primary">Back To List</a>

