@model Category



<div class="card">
    <div class="card-header">
        Data of category
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <h3 class="card-title">@Model.CatgName<</h3>
        <p class="card-text">@Model.ID</p>
        </blockquote>
    </div>
</div>

