@model Category
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>



<partial name="_CatgCard" model="Model"></partial>

<br />

<a asp-controller="Category" asp-action="Index" class="btn btn-primary">BackToList</a>

