@model Reader
@{
    ViewData["Title"] = "New";
}

<h1>New reader</h1>

<form method="post" asp-controller="Reader" asp-action="SaveNew">

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        <input asp-for="Name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">ISBN</span>
        <input asp-for="ISBN" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Phone</span>
        <input asp-for="Phone" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
        <input asp-for="Address" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

     <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
        <input asp-for="Email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-3">
            <a asp-controller="Reader" asp-action="Index" class="btn btn-primary">Back To List</a>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </div>
</form>


